[submodule "libraries/assetic"]
	path = libraries/assetic
	url = https://github.com/kriswallsmith/assetic.git
[submodule "libraries/lessphp"]
	path = libraries/lessphp
	url = https://github.com/leafo/lessphp.git
[submodule "libraries/Symfony/Component/Process"]
	path = libraries/Symfony/Component/Process
	url = https://github.com/symfony/Process.git
